<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>插值字符串</title>
    <script src="http://libs.useso.com/js/angular.js/1.2.5/angular.min.js" ></script>
</head>
<body ng-app="myApp">
    <div id="emailEditor" ng-controller="MyController">
        <input ng-model="to"
               type="email"
               placeholder="Recipient" />
        <textarea ng-model="emailBody"></textarea>

        <div id="emailPreview">
            <pre>__ previewText __</pre>
        </div>
    </div>
    <script>
        angular.module('myApp', ['emailParser'])
                .controller('MyController',
                ['$scope', 'EmailParser',
                    function($scope, EmailParser) {
                        $scope.to = 'ari@fullstack.io';
                        $scope.emailBody = 'Hello __to__';
                        // Set up a watch
                        $scope.$watch('emailBody', function(body) {
                            if (body) {
                                $scope.previewText =
                                        EmailParser.parse(body, {
                                            to: $scope.to
                                        });
                            }
                        });
                    }]);

        angular.module('emailParser', [])
                .config(['$interpolateProvider',
                    function($interpolateProvider) {
                        $interpolateProvider.startSymbol('__');
                        $interpolateProvider.endSymbol('__');
                    }])
                .factory('EmailParser', ['$interpolate',
                    function($interpolate) {
                        // a service to handle parsing
                        return {
                            parse: function(text, context) {
                                var template = $interpolate(text);
                                return template(context);
                            }
                        };
                    }]);
    </script>
</body>
</html>